html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='shortcut icon', href='/imgs/icon2.png', type='image/x-icon')
		title Privacy Policy - HT Online
		link(rel='stylesheet', href='/css/legal.css')
	body
		div#main
			a#home(href='/') ⬅ Home
			h1 Privacy Policy
			p#focus -- Your privacy is important to us. --

			p
			|   It is our policy to respect your privacy regarding any information we may collect while operating
			|   our website. This Privacy Policy applies to https://htonline.ml/ (hereinafter, "us", "we", or
			|   "https://htonline.ml/"). We respect your privacy and are committed to protecting personally
			|   identifiable information you may provide us through the Website. We have adopted this privacy
			|   policy ("Privacy Policy") to explain what information may be collected on our Website, how we use
			|   this information, and under what circumstances we may disclose the information to third parties.
			|   This Privacy Policy applies only to information we collect through the Website and does not apply to
			|   our collection of information from other sources.

			p
			|	This Privacy Policy, together with the 
			|   <a href='/terms'>terms and conditions posted on our website ↗</a>,
			|   set forth the general rules and policies governing your use of our Website. Depending on your
			|   activities when visiting our Website, you may be required to agree to additional terms and conditions.

			div#visitors
				h2 Website Visitors
				p
				|   Like most websites, this site collects non-personally-identifying information of the sort that web
				|   browsers and servers typically make available, such as the browser type, language preference,
				|   referring site, and the date and time of each visitor request. Our purpose in collecting
				|   non-personally identifying information is to better understand how our visitors use its website
				|   From time to time, we may release non-personally-identifying information in the aggregate, e.g., by
				|   publishing a report on trends in the usage of its website.

				p
				|   This site also collects potentially personally-identifying information like Internet Protocol (IP)
				|   addresses for logged in users and for users leaving comments on https://htonline.ml/ blog posts. We
				|   only disclose logged in user and commenter IP addresses under the same circumstances that we use
				|   and disclose personally-identifying information as described below.

			div#gatheringInformation
				h2 Gathering of Personally-Identifying Information
				p
				|   Certain visitors to our website choose to interact with us in ways that require us to gather
				|   personally-identifying information. The amount and type of information that we gather depends on the
				|   nature of the interaction.

			div#security
				h2 Security
				p
				|   The security of your Personal Information is important to us, but remember that no method of
				|   transmission over the Internet, or method of electronic storage is 100% secure. While we strive to
				|   use commercially acceptable means to protect your Personal Information, we cannot guarantee its
				|   absolute security.

			div#externalLinks
				h2 Links to External Sites
				p
				|   Our Service may contain links to external sites that are not operated by us. If you click on a
				|   third party link, you will be directed to that third party's site. We strongly advise you to review
				|   the Privacy Policy and terms and conditions of every site you visit.

				p
				|   We have no control over, and assume no responsibility for the content, privacy policies or practices
				|   of any third party sites, products or services.

			div#protectingInformation
				h2 Protection of Certain Personally-Identifying Information
				p
				|   We disclose potentially personally-identifying and personally-identifying information only to those
				|   of our staff team that (i) need to know that information in order to process it on our behalf or to
				|   provide services available at our website, and (ii) that have agreed not to disclose it to others. 
				|   None of our staff team reside outside our operational country; by using this website, you consent
				|   to the transfer of such information to them. We will not rent or sell potentially
				|   personally-identifying and personally-identifying information to anyone. Other than the team, as
				|   described above, we disclose potentially personally-identifying and personally-identifying 
				|   information only in response to a subpoena, court order or other governmental request, or when we
				|   believe in good faith that disclosure is reasonably necessary to protect the property or rights of
				|   our tutorials, third parties or the public at large.

				p
				|   If you are a registered user of https://htonline.ml/ and have supplied your email address, we may
				|   occasionally send you an email to inform you about new updates and features. We primarily use a
				|   different section on our site to communicate this type of information, so we expect to keep these
				|   types of emails to a minimum. If you send us a request (for example via a support email or via one
				|	of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or
				|	respond to your request or to help us support other users. We take all measures reasonably necessary
				|	to protect against the unauthorized access, use, alteration or destruction of potentially
				|	personally-identifying and personally-identifying information.

			div#stats
				h2 Aggregated Statistics
				p
				|	We may collect statistics about the behaviour of visitors to its website. We may display this 
				|	information publicly or provide it to others. However, we do not disclose your personally-identifying
				|	information.

			div#cookies
				h2 Cookies
				p
				|	To enrich and perfect your online experience, we use “Cookies”, similar technologies and services
				|	provided by others to display personalized content, appropriate advertising and store your preferences
				|	on your computer.

				p
				|	A cookie is a string of information that a website stores on a visitor's computer, and that the 
				|	visitor's browser provides to the website each time the visitor returns. This site uses cookies to 
				|	help us identify and track visitors, their usage of https://htonline.ml/, and their website access
				|	preferences. Our visitors who do not wish to have cookies placed on their computers should set their
				|	browsers to refuse cookies before using our website, with the drawback that certain features of our 
				|	website may not function properly without the aid of cookies.

				p
				|	By continuing to navigate our website without changing your cookie settings, you hereby acknowledge
				|	and agree to this site’s use of cookies.

			div#changes
				h2 Privacy Policy Changes
				p
				|	Although most changes are likely to be minor, we may change our Privacy Policy from time to time,
				|	and at our sole discretion. We encourage visitors to frequently check this page for any changes to
				|	our Privacy Policy. Your continued use of this site after any change in this Privacy Policy will
				|	constitute your acceptance of such change.

			p For any queries, feel free to <a href='/contact'>contact us ↗</a>.
