html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='/imgs/icon2.png', type='image/x-icon')
		title Contact Us - HT Online
		link(rel='stylesheet', href=`/css/${view}/contact.css`)
	body
		div#main
			div#study
				h2 <u>🔽 Study-Related Queries 🔽</u>
				p For all study-related queries, contact:<br>
				| Himaani Shah<br>
				div.btn
					<a href='mailto:himaani96@gmail.com'><img class='btn' src='https://i.imgur.com/MzGWEbD.png' alt='Email'> himaani96@gmail.com</a>
				br
				div.btn
					<a href='https://wa.me/919820093845'><img class='btn' src='https://i.imgur.com/goT69cA.png' alt='WhatsApp'> +91 98200 93845</a>

			br
			br

			div#site
				h2 <u>🔽 Website-Related Queries 🔽</u>
				p For all technical queries, contact:<br>
				| Riday Shah<br>
				div.btn
					<a href='mailto:ridayshah2001@gmail.com'><img class='btn' src='https://i.imgur.com/MzGWEbD.png' alt='Email'> ridayshah2001@gmail.com</a>
				br
				div.btn
					<img class='btn-2' src='https://discord.com/assets/e05ead6e6ebc08df9291738d0aa6986d.png' alt='Discord'> Riday 💙#7468

			br
			br

			div#code
				h2 <u>🔽 Source Code 🔽</u>
				p The source code of this site can be found on <a href='https://github.com/ridays2001/ht-site'>GitHub↗</a>.<br>
				a(href='https://github.com/ridays2001/ht-site')
					img#gh(src='https://i.imgur.com/6COtOVL.png', alt='@ridays2001')
			