html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='shortcut icon', href='/imgs/icon2.png', type='image/x-icon')
        title Disclaimer - HT Online
        link(rel='stylesheet', href='/css/legal.css')
    body
        div#main
            a#home(href='/') ⬅ Home
            h1 Coming Soon...