extends templates/base

block title
	title Gallery - HT Online

append css
	link(rel='stylesheet', href='/css/gallery.css')

block page
	#header.text-center
		img.col-11.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')

	.container-fluid
		each album of events
			.gallery.block
				.row
					h3.mx-auto #{album.name}
				.row
					p.mx-auto=album.desc
				.row
					.card-columns
						each image of album.imgs
							.card.my-2.bg-transparent.p-0
								img.card-img-top(src=image, alt='Gallery Image')
