extends templates/base

block title
	title Gallery - HT Online

append meta
	meta(property='og:url', content='https://htonline.ml/gallery/')
	meta(property='og:type', content='portal')
	meta(property='og:title', content='Photo Gallery - HT Online')
	meta(property='og:description', content='A photo gallery to display the amazing talent of children.')

	meta(name='twitter:card', content='A photo gallery to display the amazing talent of children.')
	meta(name='twitter:url', content='https://htonline.ml/gallery/')
	meta(name='twitter:title', content='Photo Gallery - HT Online')
	meta(name='twitter:description', content='A photo gallery to display the amazing talent of children.')

append css
	link(rel='stylesheet', href='/css/gallery.css')

block page
	#header.text-center
		img.col-11.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')

	.container-fluid
		each album of events
			.gallery.block
				.row
					h3.mx-auto #{album.name}
				.row
					p.mx-auto=album.desc
				.row
					.card-columns
						each image of album.imgs
							.card.my-2.bg-dark
								img.card-img-top(src=image, alt='Gallery Image')
