extends templates/base

block title
	title Gallery - HT Online

append css
	link(rel='stylesheet', href='/css/gallery.css')

block page
	#header.text-center
		img.col-11.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')

	.container.block
		p Coming Soon...