html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Home - HT Online
		link(rel="shortcut icon", href="/imgs/icon2.png", type="image/x-icon")
		link(rel="stylesheet", href=`/css/index-${view}.css`)
	body
		div#img
				img(src="/imgs/logo-white.png", alt="Himaani Shah Tutorials")

		div#motto
			p Not just <em>‘teaching’</em>, but also <u><em>inspiring</em></u>.

		div#nav
			a(href="/login") Login
			a(href="/contact") Contact
			a(href="/tos") Terms of Service
			a(href="/policy") Privacy Policy

		div#quotes
			div#quote1
				p “The ones who are crazy enough to think that they can change the world, are the ones who do it.”
				p - Steve Jobs
			div#quote2
				p “Education is what remains after one has forgotten what one has learned in school.”
				p - Albert Einstein
			div#quote3
				p “Education is the most powerful weapon which you can use to change the world.”
				p - Nelson Mandella
			div#quote4
				p “An investment in knowledge pays the best interest.”
				p - Benjamin Franklin
			div#quote5
				p “A well-educated mind will always have more questions than answers.”
				p - Helen Keller
				
			