html
	head
		title= title
		link(rel="shortcut icon", href="/imgs/Logo-HT.png", type="image/x-icon")
	body
		h1= 'Site under construction.'
		p#a= 'This site is under construction.'
		p#b= 'Made by Riday Shah'
		img(src="/imgs/Logo-HT-Full.png", alt="HT Logo")