/* Import font library. */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

html {
	background-color: #351e10;
	font-family: 'Merriweather', Helvetica;
	background-image: url('/imgs/books.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.btn {
    width: 7%;
    margin: 0 auto;
}

#main {
    text-align: center;
    margin-top: 2% !important;
	color: #000000;
	padding: 3% 5%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.75);
	width: 37%;
    border-radius: 7vw;
}

#gh {
    width: 50%;
}