/* Import font library. */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

/* The Desktop view for the contact page. */
html {
	background-color: #351e10;
	font-family: 'Merriweather', Helvetica;
	background-image: url('/imgs/books.png');
	background-repeat: no-repeat;
	background-size: cover;
}

div.btn {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

img.btn {
	width: 15%;
}

img.btn-2 {
	width: 7%;
}

p {
	display: inline;
}

#main {
	text-align: center;
	color: #000000;
	padding: 2.5% 4%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.75);
	width: 40%;
	border-radius: 7vw;
}

#gh {
	width: 50%;
}