/* Import general css rules. */
@import url('/css/templates/main.css');

.block {
	color: #000000;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 21px;
	text-align: center;
	padding: 1.5em;
	margin: 2em auto;
}

.card img {
	border-radius: 21px;
}

/* Customizations for < md view. */
@media screen and (max-width: 767px) {
	#header {
		margin-top: 5.5em;
		margin-bottom: 3em;
	}

	.gallery img {
		margin: 1.5em auto !important;
	}

	.card {
		padding: 0.45em 1em;
	}
}

/* Customizations for > md view. */
@media screen and (min-width:768px) {
	#header {
		margin-bottom: 2.5em;
	}

	.block {
		padding: 3em;
	}

	.card {
		padding: 1.25em;
	}
}