/* Import general css rules. */
@import url('/css/templates/main.css');

/* The base view for the webpage. */
#main {
	text-align: center;
	margin-top: 20vh;
	margin-bottom: 10vh;
	vertical-align: middle;
	height: 100vh;
}

#divide {
	width: 95vw;
	height: 1vh;
	margin: 0 auto;
	border-radius: 21px;
	background-color: rgba(255, 255, 255, 0.75);
	position: relative;
	bottom: 25vh;
}

.row > a, .row > a:visited {
	text-decoration: none;
	color: #ffffff;
	border: solid #ffffff 5px;
	display: block;
	padding: 0.5em;
}

.row > a:hover, .row > a:focus {
	background-color: rgba(0, 127, 255, 0.7);
	color: #ff69b4;
}

.quote {
	padding: 1.5em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.75);
	color: #000000;
	margin: 1em;
	border-radius: 3em;
}

footer {
	margin-top: 2em;
	padding: 1.5em;
	background-color: #2a2c30;
	color: #ffffff;
}

footer a {
	color: #ffffff;
	margin: 1em 0;
	text-decoration: underline;
}

@media screen and (min-width:420px) {
	footer {
		padding-left: 3.5em;
	}
}

.center {
	text-align: center;
}


/* Bouncing arrow animation. */

.arrow {
	position: relative;
	bottom: -10vh;
	margin: 0 auto;
	width: 50px;
	height: 50px;

	background-image: url('https://i.imgur.com/WrdPv6S.png');
	background-size: contain;
}

.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
