/* Import general css rules. */
@import url('/css/templates/main.css');

#main {
	text-align: justify;
	color: #000000;
	padding: 2em 3em;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 21px;
}

#main a, #main a:visited {
	color: #0018f9;
}

#main a:hover, #main a:focus {
	color: #d30000;
	border: solid 0.5px;
}

/* Customizations for < md view */
@media screen and (max-width: 767px) {
	#header {
		margin-top: 5.5em;
		margin-bottom: 2em;
	}

	#main {
		padding: 1em 2em;
	}
}

/* Customizations for the > md view */
@media screen and (min-width: 768px) {
	#header {
		margin-top: 1em;
		margin-bottom: 3em;
	}
}