/* Import font library. */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

html {
	text-align: center;
    background-color: #351e10;
    color: #ffffff;
	font-family: 'Merriweather', serif;
	background-image: url('/imgs/books.png');
	background-repeat: no-repeat;
    background-size: cover;
}