/* Import font library. */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

html {
	text-align: justify;
    background-color: #351e10;
    color: #ffffff;
	font-family: 'Merriweather', serif;
	background-image: url('/imgs/books.png');
	background-repeat: no-repeat;
    background-size: cover;
}

a, a:visited {
	color: #0018f9;
	margin: 2% 5%;
	font-size: 1.2em;
}

h1 {
	text-align: center;
}

a:hover, a:focus {
	color: #d30000;
	border: solid 0.5px;
}

#nav, #main {
	color: #000000;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 5%;
	width: 75%;
	border-radius: 7vw;
	margin-right: 5%;
}

#main a, #announcements a {
	font-size: 1em;
}

#timetable {
	margin-top: 2%;
	border-radius: 5vw;
	width: 35%;
	margin-left: 10%;
}

#today {
	position: absolute;
	top: 50%;
	right: 5%;
	width: 30%;
	font-size: 1.2em;
	background-color: rgba(255, 255, 255, 0.75);
	color: #000000;
	text-align: center;
	border-radius: 7vw;
	padding: 2.5%;
}

li {
	margin: 5% 0;
}

#nav {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}