/* Import general CSS rules. */
@import url('/css/templates/main.css');

.block {
	background-color: rgba(255, 255, 255, 0.75);
	color: #000000;
	padding: 2em 3em;
	margin: 2em auto;
	border-radius: 7vw;
}

.form-row {
	margin: 2em auto;
}

#err {
    color: #f51b00;
    font-size: 1.2em;
}

#success {
    color: #0069d9;
    font-size: 1.2em;
}