/* Import general CSS rules. */
@import url('/css/templates/main.css');

.block {
	color: #000000;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 21px;
	padding: 2em 1em;
	text-align: center;
	margin-bottom: 1em;
}

#instructor {
	font-size: 1.3em;
}

#image {
	margin-top: 1em;
	margin-bottom: 2em;
}

#image > img {
	border-radius: 100%;
}

.row {
	margin-top: 2em;
}

#students {
	text-align: justify;
}

#manage > li > a:hover::after {
	content: '→';
	margin-left: 1em;
}

/* Customizations for < md view. */
@media screen and (max-width: 767px) {
	#header {
		margin-top: 5.5em;
	}

	#manage li {
		list-style-type: square;
	}
}

/* Customizations for > md view. */
@media screen and (min-width: 768px) {
	#students {
		padding: 2em 3em;
	}

	.left {
		margin-left: 2.5em;
	}
	.right {
		margin-right: 5em;
	}

	#manage > li {
		list-style-type: '⮚';
	}
}