extends ../templates/base

block title
	title Notes - HT Online

append css
	link(rel='stylesheet', href='/css/users/portal.css')

block page
	#header.text-center
		img.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')

	.container
		.block
			h3.text-center Notes:
			br
			if (notes)
				ol
					each n of notes
						li
							p <b>Given on:</b> #{n.date}
							p <b>Subject:</b> #{n.subject}
							p <b>Chapter:</b> #{n.chapter}
							a(href=n.link) Link↗
						br
			else
				p No notes available. Make Your Own!